.container_cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 400px;
  margin: 50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #cfc9c4;
  color: black;
  /* background-image: repeating-linear-gradient(
  45deg,
  #222d52,
  #222d52 10px,
  #dfd8d3 10px,
  #cfc9c4 20px
); */
  border: 3px dotted #222d52;

}

.flip-card-back {
  display: flex;
  flex-direction: column;
  background-color: rgba(74, 92, 145, 0.15);
  border: 3px dotted #222d52;
  color: #222d52;
  transform: rotateY(180deg); /* Começa de costas */
  padding: 20px;
}

.bnt_card{
  padding: 7px 8px 7px 8px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, #fff7ef, hsl(0, 0%, 80%));
  transition: all 0.3s ease;
  text-decoration: none;
  color: #222d52;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.bnt_card::after{
  content: '♪';
  position: absolute;
  right: -10px;
  transition: all 0.3s ease-in;
  transform: translateY(-10px);
}
.bnt_card:hover::after{
  transform: translateY(0px);
  right: 17px;
}
.bnt_card:hover{
  transform: scale(1.1);
  padding: 7px 38px 7px 8px;
}
@media (max-width: 768px){
  .flip-card-front img{
    width: 85%;
  }
}