.bg{
        background-color: white;
        width: auto;
        color: white;
        height: 600px;
        margin: 20px auto;
        padding-left:350px;
        padding-top:30px;
        text-align: center;
    
    }
    
    *{
            padding: 0;
            margin:  0;
            box-sizing: border-box;
            text-align: center;
            
        }
        
    .container{
        height: 100%;
            /* mudanças */
            width: 140px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 200px;
        }
        
    .box{
            width: 800px;
            position: absolute;
            left: 60%;
            top: 40%;
            transform: translate(-50%, -50%);
            padding: 40px 40px;
            box-shadow: 0 0 15px rgb(200,200,200);
            z-index: 1;
        }
    p{
            text-align: justify;
            text-indent: 70px;
        }
        h2 {
            font-size: 2rem;
            display: inline-block;
            position: relative;
            overflow: hidden;
        }
        
        h2::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            white-space: nowrap;
            color: #ec9ac5;
            transition: width 0.5s ease;
            overflow: hidden;
        }
        
        h2:hover::before {
            width: 100%;
        }
        
    
    
    .checked {
            color: rgb(255, 255, 255);
            text-align: center;
          }
    .star-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500vh;
            margin: 0;
          }
      
    .fa-star {
            font-size: 30px;
            color: gold;
            transition: transform 0.3s ease-in-out;
          }
      
    .fa-star:hover {
            transform: scale(1.2);
          }
          
          
    .card-container {
            position: absolute;
            left: 160px;
            top: 250px;
            width: 300px;
            height: 400px;
          }
    
    .card {
          background-color: var(--background);
          border-radius: 10px;
          transition: 1000ms all;
          transform-origin: center left;
          outline: 1px solid var(--background);
          overflow: hidden;
          width: 300px; 
          height: 500px;
          }
    
    .card img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 4px;
          }
    
    .card:hover {
            cursor: pointer;
            transform: scale(1.15);
            box-shadow: 0 0 20px #f774ef;
            margin: 5px;
          }
         
/* ----------------------------- */
/* |     mudanças do grupo     | */
/* ----------------------------- */

.body{
    overflow: none;
}
.btn_comprar{
    position: relative;

    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    background-color: #007bff;
    border: none;
    color: white;
    transition: box-shadow 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 0px transparent;
    overflow-y: hidden;
    z-index: 0;
}
.texto_btn{
    position: relative;
    z-index: 1;
}
.btn_comprar:hover{
    transform: scale(1.1);
}
.btn_comprar:active{
    transform: scale(1) !important;
    box-shadow: 0px 0px 15px rgb(255, 255, 255, 0.5);
}
.preencher_btn{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: #28a745;
    z-index: 0;
}
.btn_comprar:focus .preencher_btn{
    animation: carregarBtnComprar 3s linear forwards;
}
.fundo_animacao{
    position: absolute;
    height: calc(100vh + 20vh);
    width: 100vw;

    opacity: 0;
    background-color: rgb(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    z-index: 100;
    display: none;
}
.animacaoOpacity{
    display: block;
    animation: animacaoOpacity 0.4s 2.8s ease-in-out forwards;
}
.animacaoOpacity2{
    animation: animacaoOpacity2 0.4s ease-in-out forwards;
}
.pop_up{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 450px;
    border-radius: 15px;
    background:whitesmoke;
    z-index: 999;
}
.animacaoDescer{
    animation: descerPopUp 0.4s 2.8s linear forwards;
}
.animacaoDescer2{
    animation: descerPopUp2 0.4s linear forwards;
}
.overflow{
    overflow: hidden;
}
.pulinhos{
    animation: pulinhos 0.6s 3.4s ease-in-out;
}
.btn_sair{
    position: absolute;
    bottom: 25px;
    padding: 6px 16px 6px 16px;
    border-radius: 7px;
    background-color: #dc3545;
    border: none;
    color: white;
}
/* animações */
@keyframes animacaoOpacity {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes animacaoOpacity2 {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes descerPopUp {
    0% {top: -15%;}
    15% {top: 0%;}
    45% {top: 15%;}
    70% {top: 30%;}
    100% {top: 40%;}
}
@keyframes descerPopUp2 {
    0% {top: 40%;}
    15% {top: 60%;}
    45% {top: 75%;}
    70% {top: 90%;}
    100% {top: 110%;}
}

@keyframes carregarBtnComprar{
    0% {width: 0%;}
    25% {width: 25%;}
    50% {width: 50%;}
    75% {width: 75%;}
    85% {width: 100%;}
    100% {width: 100%;}
}
@keyframes pulinhos {
    0% {transform: translateY(0px)}
    25% {transform: translateY(-5px)}
    50% {transform: translateY(-10px)}
    75% {transform: translateY(-5px)}
    100% {transform: translateY(0px)}
}