a {
        cursor: pointer;
    }
    
.bg{
    background-color: white;
    width: auto;
    color: white;
    height: 600px;
    margin: 20px auto;
    padding-left:350px;
    padding-top:30px;
    text-align: center;

}

*{
        padding: 0;
        margin:  0;
        box-sizing: border-box;
        text-align: center;
        
    }
    
.container{
        width: 70px;
        height: 70px;
   
    }
    
.box{
        width: 800px;
        position: absolute;
        left: 60%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 40px;
        box-shadow: 0 0 15px rgb(200,200,200);
    }
p{
        text-align: justify;
        text-indent: 70px;
    }
    
.checked {
        color: rgb(255, 255, 255);
        text-align: center;
      }
.star-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500vh;
        margin: 0;
      }
  
.fa-star {
        font-size: 30px;
        color: gold;
        transition: transform 0.3s ease-in-out;
      }
  
.fa-star:hover {
        transform: scale(1.2);
      }
      
      
.card-container {
        position: absolute;
        left: 160px;
        top: 250px;
        width: 300px;
        height: 400px;
      }

.card {
      background-color: var(--background);
      border-radius: 10px;
      transition: 1000ms all;
      transform-origin: center left;
      outline: 1px solid var(--background);
      overflow: hidden;
      width: 300px; 
      height: 500px;
      }

.card img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }

.card:hover {
        cursor: pointer;
        transform: scale(1.15);
        box-shadow: 0 0 20px #f774ef;
        margin: 5px;
      }
   